Repository LEONFROMWORK/ex-rails: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, brakeman, rails-best-practices, eslint, prettier, git-secrets, rails-db-schema-check, rails-routes-check, rspec-focus-check, factory-lint, readme-toc

rubocop:
  name: RuboCop
  description: Ruby static code analyzer and formatter
  entry: bundle exec rubocop
  language: system
  require_serial: false
  pass_filenames: true
  additional_dependencies: []

brakeman:
  name: Brakeman Security Scanner
  description: Static analysis security scanner for Ruby on Rails
  entry: bundle exec brakeman
  language: system
  args:
  - --no-pager
  - --quiet
  - --exit-on-warn
  pass_filenames: false
  require_serial: true

rails-best-practices:
  name: Rails Best Practices
  description: Code metric tool for Rails projects
  entry: bundle exec rails_best_practices
  language: system
  args:
  - --silent
  pass_filenames: false
  require_serial: true

eslint:
  name: ESLint
  description: JavaScript/TypeScript linting
  entry: npx eslint
  language: system
  args:
  - --fix
  pass_filenames: true

prettier:
  name: Prettier
  description: Code formatter for JavaScript/TypeScript
  entry: npx prettier
  language: system
  args:
  - --write
  pass_filenames: true

git-secrets:
  name: Git Secrets Scanner
  description: Prevents committing secrets to git
  entry: git-secrets
  language: system
  args:
  - --scan
  pass_filenames: false
  require_serial: true

rails-db-schema-check:
  name: Rails Database Schema Check
  description: Ensure db/schema.rb is included when migrations are present
  entry: script/hooks/check-schema
  language: system
  pass_filenames: false

rails-routes-check:
  name: Rails Routes Check
  description: Check for unused routes
  entry: bundle exec rails routes
  language: system
  args:
  - --unused
  pass_filenames: false

rspec-focus-check:
  name: RSpec Focus Check
  description: Prevent committing focused specs
  entry: script/hooks/check-rspec-focus
  language: system
  pass_filenames: false

factory-lint:
  name: Factory Bot Lint
  description: Lint Factory Bot factories
  entry: bundle exec rake factory_bot:lint
  language: system
  pass_filenames: false

readme-toc:
  name: README Table of Contents
  description: Update README table of contents
  entry: script/hooks/update-readme-toc
  language: system
  pass_filenames: false

완전한 Railway 배포 시스템 구축
  DEPLOY_BUTTON.md
  RAILWAY_DEPLOYMENT_STEPS.md
  RAILWAY_ENV_SETUP.txt
  README.md
  check_deployment.sh
  deploy_to_railway.sh
  formula_service/template.toml
  template.toml
Due: prettier, git-secrets, readme-toc

pgvector 확장 활성화 시도 및 JSON 폴백 구현
  db/migrate/20250719173440_enable_pgvector_extension.rb
Due: rubocop, brakeman, rails-best-practices, git-secrets, rails-db-schema-check

docs: add deployment guides and monitoring scripts for Railway
  ENABLE_PGVECTOR.md
  LIVE_DEPLOYMENT_GUIDE.md
  deployment_status.html
  monitor_deployment.sh
Due: prettier, git-secrets

fix: update Ruby version to 3.3.0 for Railway compatibility
  .ruby-version
  Gemfile
  Gemfile.lock
  nixpacks.toml
Due: git-secrets

fix: use Dockerfile for Railway deployment to support Ruby 3.4.4
  .ruby-version
  Gemfile
  nixpacks.toml
  railway.toml
Due: git-secrets

fix(deploy): downgrade Ruby to 3.3.5 for Railway compatibility
  .ruby-version
  Dockerfile
  Gemfile
Due: git-secrets

Railway Dockerfile 빌더 최적화
  Dockerfile
  railway.toml
Due: git-secrets

Bundler 버전 불일치 문제 해결
  Dockerfile
  Gemfile.lock
Due: git-secrets

Bundle install exit code 18 오류 해결
  Dockerfile
  Gemfile
Due: git-secrets

Railway 배포 단순화 - 문제 gem 임시 비활성화
  Gemfile
  db/migrate/20250719173440_enable_pgvector_extension.rb
  railway.toml
Due: rubocop, brakeman, rails-best-practices, git-secrets, rails-db-schema-check

Railway Git Push 자동 배포 설정
  DEPLOYMENT_STATUS.txt
  RAILWAY_GIT_DEPLOYMENT.md
Due: prettier, git-secrets

docs: add Railway services setup guide
  RAILWAY_SERVICES_SETUP.md
Due: prettier, git-secrets

fix(deps): disable native extension gems for Railway deployment
  Gemfile
  Gemfile.lock
Due: git-secrets

fix(assets): resolve Tailwind CSS UTF-8 encoding issue
  DEPLOYMENT_STATUS.txt
  lib/tasks/tailwind_skip.rake
  tailwind.config.js
Due: rubocop, brakeman, rails-best-practices, eslint, prettier, git-secrets

fix(deployment): resolve production environment setup issues
  DEPLOYMENT_STATUS.txt
  app/features/ai_integration/rag_system/optimized_vector_service.rb
  app/features/ai_integration/services/gemini_multimodal_service.rb
  app/features/excel_analysis/services/optimized_excel_generator.rb
  app/features/excel_analysis/services/optimized_excel_processor.rb
  app/features/excel_analysis/services/vba_analysis_service.rb
  app/features/excel_generation/services/template_based_generator.rb
  app/features/queue_management/services/sidekiq_scaling_service.rb
  config/application.rb
  config/database.yml
  config/environments/production.rb
  config/initializers/monitoring.rb
Due: rubocop, brakeman, rails-best-practices, git-secrets

fix(deployment): bypass assets precompile completely for Railway
  config/environments/production.rb
  lib/tasks/assets_override.rake
  lib/tasks/tailwind_skip.rake
  railway.toml
Due: rubocop, brakeman, rails-best-practices, git-secrets

fix(database): handle missing DATABASE_URL gracefully
  config/database.yml
  config/initializers/database_fallback.rb
  railway.toml
Due: rubocop, brakeman, rails-best-practices, git-secrets

fix(railway): simplify startCommand and add railway-start script
  bin/railway-start
  railway.toml
Due: git-secrets

fix(monitoring): resolve setup_initial_experiments scope issue
  config/initializers/monitoring.rb
  railway.toml
Due: rubocop, brakeman, rails-best-practices, git-secrets

Refactor User model references and standardize controller inheritance
  db/migrate/20250716194157_create_users.rb
  db/migrate/20250716194226_create_excel_files.rb
  db/migrate/20250716194245_create_analyses.rb
  db/migrate/20250716194307_create_chat_conversations.rb
  db/migrate/20250716194324_create_subscriptions.rb
  db/migrate/20250716200613_create_chat_messages.rb
  db/migrate/20250717140000_create_payment_intents.rb
  db/migrate/20250717140101_add_ai_fields_to_chat_messages.rb
  db/migrate/20250717140102_create_ai_feedbacks.rb
  db/migrate/20250717140103_create_ai_provider_metrics.rb
  db/migrate/20250717172158_create_knowledge_threads.rb
  db/migrate/20250718000001_create_rag_documents.rb
  db/migrate/20250718000002_create_ai_usage_records.rb
  db/migrate/20250719101112_rename_tokens_to_credits_in_users.rb
  db/migrate/20250719104227_add_tier_to_subscriptions.rb
  db/migrate/20250719111307_add_formula_analysis_to_analyses.rb
  db/migrate/20250719120000_add_performance_indexes.rb
  db/migrate/20250719173440_enable_pgvector_extension.rb
  db/migrate/20250719173508_create_knowledge_items.rb
  db/migrate/20250720084303_create_payments.rb
  db/migrate/20250720084333_create_billing_keys.rb
  db/migrate/20250720084340_create_payment_methods.rb
  db/migrate/20250720084349_create_payment_webhooks.rb
  db/migrate/20250720142450_add_oauth_to_users.rb
Due: rubocop, brakeman, rails-best-practices, git-secrets, rails-db-schema-check

Path conditions:
  rubocop: any of: \.(rb|rake)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  brakeman: any of: \.(rb|rake)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  rails-best-practices: any of: \.(rb|rake)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  git-secrets: any of: .*, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  rails-db-schema-check: any of: ^db/migrate/.*\.rb$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  rails-routes-check: any of: ^config/routes\.rb$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  rspec-focus-check: any of: ^spec/.*_spec\.rb$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  factory-lint: any of: ^spec/factories/.*\.rb$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

  readme-toc: any of: ^README\.md$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  public/assets/.*|
  tmp/.*|
  log/.*|
  \.git/.*|
  db/schema\.rb$|
  Gemfile\.lock$|
  package-lock\.json$
)$

